<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Acerca de</h1>
        <p>Esta es la página de acerca de. Aquí puedes encontrar información sobre nosotros.</p>
        <a href="{{ url_for('inicio') }}">Inicio</a>
        <a href="{{ url_for('contact') }}">Contacto</a>
    </div>
</body>
</html>
